Source: zk-flock
Section: misc
Priority: extra
Maintainer: Anton Tyurin <noxiouz@yandex.ru>
Build-Depends: debhelper ( >= 7),
 python (>= 2.6),
 python-central | dh-python,
 python-setuptools
Standards-Version: 3.9.1
XS-Python-Version: >= 2.6
Homepage: https://github.com/noxiouz/python-flock

Package: zk-flock
Architecture: all
Depends:
 ${shlibs:Depends},
 ${python:Depends},
 ${misc:Depends},
 python-zookeeper
XB-Python-Version: >= 2.6
Description: Distributed flock
 Distributed flock based on Zookeeper
